server:
  port: 8090

spring:
  application:
    name: loan
  profiles:
    active: "qa"

  datasource:
    url: jdbc:h2:mem:loandb
    driver-class-name: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  config:
    import: "optional:configserver:http://localhost:8071/"
#  Commenting rabbit mq as we'll use actuator refresh to update configs  dynamically instead of busrefresh.
#  rabbitmq:
#    host: localhost
#    port: 5672
#    username: guest
#    password: guest

# Add management endpoint exposure Enable/Refresh API
management:
  endpoints:
    web:
      exposure:
        include: "*"